/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #ff6347; /* Accent color */
}

/* Utility Classes */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


  /* Store Logo */
  .store-logo a {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color:rgb(157, 42, 42); /* Brand color */
    text-transform: uppercase;
    letter-spacing: 1px;
  }